@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 1em;
}

#new-post {
  z-index: 9999;
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.bg-color-orange {
      background-color: #e2ebf8  !important;
}

.bg-color-salmon {
      background-color: #fbdfd5  !important;
}

.bg-color-marron{
      background-color: #fdf9db !important;
}
