{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
<div class="col-lg-4">

{% blocktrans %}
Bienvenue à toi sur la Coco Helvetica Gazette !</p>
Nous pensons qu’il est important que chacun puisse raconter son expérience du confinement et que vos récits soient consignés pour témoigner plus tard de cette période extraordinaire. Vous pouvez, ici, partager de façon anonyme votre ressenti, exprimer votre ras-le-bol, proposer une suggestion, une recette, un poème, un récit.. Bref, racontez votre histoire durant cette épidémie.</p>
<h3>Qui sommes-nous?</h3>
Cette plateforme a été développée par une équipe de 7 ingénieur.e.s lors du hackathon contre le COVID-19 organisé par LauzHack de l’EPFL.</p>
<h3>Le but de la Gazette ?</h3>
Constituer un recueil de témoignages libres liés à l’épidémie du Covid-19 qui nous touche actuellement.</p>
<h3>Pourquoi la Gazette est-elle nécessaire?</h3>
L’épidémie de coronavirus modifie nos habitudes, nos relations aux autres, notre mode de vie et met entre parenthèse ce qui nous semblait évident et naturel. Qu’on soit confiné, isolé, seul ou en famille, chacun est impacté. La Gazette permet chacun de s’exprimer sur son quotidien, de partager de manière simple, sans qu’aucun jugement ne soit possible.</p>
Dans ces temps extraordinaires, il est important que chacun puisse partager son expérience. Avec CoCo Helvetica Gazette vous avez la possibilité de laisser votre témoignage, quelle que soit sa forme, pour vous, pour les autres, pour les générations suivantes, afin que tous puissent se souvenir ou découvrir la vie durant l’épidémie.</p>
La Gazette possède plusieurs rubriques thématiques permettant de regrouper des articles similaires, afin de faciliter la recherche et l’expérience du lecteur. Les écrits pourront, sur accord de l’auteur, être transmis à des institutions dans le cadre artistique ou de la recherche. Aucune information personnelle ou privée n’est nécessaire pour s’inscrire et participer à la rédaction de la gazette.</p>
A vos claviers, prêts, racontez !
{% endblocktrans %}
</div>
</div>
{% endblock %}
