

{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ block.super }} - {% if tag %}{{ tag.name }}{% else %}Home{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-8">
            <div id="filters"></div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card border-light">
            <a href="{% url 'home' %}" style="color: #212529;"><img class="img-fluid" src="{% static 'logo.png' %}" alt="Coco Helvetica Gazette" /></a>
        </div>
        <div class="card bg-light mr-sm-1 mb-3">
            <div class="card-header">
                {% trans 'Recherche' %}
            </div>
            <div class="card-body">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                </div>
                <select class="form-control" onChange="window.location.href=this.value">
                    {% for tag in tags %}
                        <option value="{% url 'by_tag' tag.id %}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><img src="{% static 'icons/calendar.svg' %}"
                                                       alt="calendar image">
                    </div>
                </div>
                <input type="text" class="form-control datepicker" placeholder={% now "d/m/Y" %}>
            </div>
            </div>
        </div>
        <div class="card bg-light mr-sm-1 mb-3">
            <div class="card-body">
                <p class="card-text">{% trans "Moi, pendant le confinement..." %}</p>
                <p class="card-text">
                <small class="text-muted">
                    <form action="{% url 'article-add' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" id="id_text" rows="3" name="text" placeholder="{% trans "J'écris la gazette!" %}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_author_gender">{% trans "Je suis..." %}</label>
                            <select class="form-control" id="id_author_gender" name="author_gender">
                                {% for k,v in ArticleCreate.author_gender.field.choices|slice:"1:" %}
                                    <option value="{{ k }}">{{ v }}</option>
                                    {{ k }}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="select-toggle">
                            <label for="id_age">{% trans "Mon âge:" %}</label>
                            <input name="author_age" type="number" min="0" class="form-control" id="id_age">
                        </div>
                        <div class="form-group">
                            <label for="id_tag">Tag</label>
                            <select class="form-control" id="id_tagr" name="tags" multiple>
                                {% for k,v in ArticleCreate.tags.field.choices|slice:"1:" %}
                                    <option value="{{ k }}">#{{ v }}</option>
                                    {{ k }}
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "J'envoie!" %}</button>
                    </form>
                    </form>
                </small>
            </div>
        </div>
        {% for testimonial in object_list %}
            <div class="card {{ testimonial.color }}">
                <div class="card-body">
                    <p class="card-text">{{ testimonial.text|linebreaks }}</p>
                    <small class="text-muted">
                        <p class="card-text">
                        {{ testimonial.creation_date|localize }}, {{ testimonial.get_author_gender_display|default:_("Un humain") }}, {{ testimonial.author_age|default:_("Ni vieux ni jeune") }}
                        {% for tag in testimonial.tags.all %}
                            <b><a href="{% url 'by_tag' tag.id %}">#{{ tag }}</a> </b>
                        {% endfor %} -- <a href="{% url 'article' testimonial.pk %}">Permalink</a>
                        </p>
                    </small>
                </p>
                </div>
            </div>
        {% endfor %}

        <div class="modal" tabindex="-1" role="dialog" id="promptModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Tu ne sais pas quoi écrire ?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{ writing_prompt }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $('.datepicker').datepicker({
            todayHighlight: true,
            weekStart: 1,
            format:"yyyy-mm-dd"});
$('.datepicker').on("changeDate", function(ev){
    window.location.href="{% url 'home' %}?date=" + ev.date.getFullYear() + "-" + (ev.date.getMonth() + 1) + "-" + ev.date.getDate()
});

$(document).ready(function() {
    $('.form-group').each(function(){
        var select = $(this), values = {};
        $('option',select).each(function(i, option){
            values[option.value] = option.selected;
        }).click(function(event){
            values[this.value] = !values[this.value];
            $('option',select).each(function(i, option){
                option.selected = values[option.value];
            });
        });
    });
});

{% if writing_prompt %}
$('#promptModal').modal();
{% endif %}

    </script>
{% endblock %}
