{% extends 'base.html' %}

{% block title %}{{ block.super }} - {{ object }}{% endblock %}

{% block content %}

<div class="container">
<h1 class="mt-5">Une histoire personnelle</h1>
<p class="lead">
    <div class="card {{ object.color }}">
        <div class="card-body">
            <p class="lead">{{ object.text }}</p>
                <small class="text-muted">
                    <p class="card-text">
                        {{ object.creation_date }}, {{ object.get_author_gender_display|default:"Un humain" }}, {{ testimonial.author_age|default:"Ni vieux ni jeune" }}
                    {% for tag in object.tags.all %}
                        <b><a href="{% url 'by_tag' tag.id %}">#{{ tag }}</a> </b>
                    {% endfor %}
                    </p>
                </small>
            </p>
        </div></div>

<a href='{% url "home" %}' style="color: #212529;"><h3 class="mt-5">retour</h3></a>

</p>
</div>


{% endblock %}
