[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0"
flake8 = "*"
django-compressor = "*"
django-libsass = "*"
psycopg2 = "==2.8.4"
psycopg2-binary = "==2.8.4"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
